body {background-color: #001249;}

.contenedor1 {
	display: inline-block;
	margin: 0 auto;
	margin-left: 0%;
	margin-right: 0%;
	background-color: #001249;
	width: 100%;
	position: relative;
	z-index: 1; }

h2 { font-size: 5em;
	color: white;
	font-family: Calibri;
	text-align: center;
margin-bottom: 5%;
margin-top: -3%;
padding: 0px;
}

h3 { font-size: 5em;
	color: white;
	font-family: Calibri;
	text-align: center;
margin-bottom: -3%;
margin-top: 5%; 
padding: 0px;
}

h1 { font-size: 10em;
	color: white;
	font-family: Calibri;
	text-align: center;
	margin-top: -3%;
	margin-bottom: -3%;
	padding: 0px;
}

.botones {
	background-color: #003463;
}

.btn1 {
	background-color:#003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    align-content: center;
     margin-left: 13%;
    font-family: Calibri;
}

.btn2 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
}

.btn3 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
}

.btn4 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
}

.btn5 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri
}

h4 {
	margin-top: 5%;
	color: white;
	margin: 5%;
	font-size: 3em;
	font-family: Calibri;
}

p {
	margin-top: 5%;
	color: white;
	margin: 5%;
	font-size: 1em;
	font-family: Calibri;
}

.primer {background-color: #003463}

.btn22 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    margin-left: 75%;
}

.btn01 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
 
}

.segundo {
	background-color: #003463;
}

.btn33 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    margin-left: 68%;
}

.btn11 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
 
}

.tercero {
	background-color: #003463;
}

.btn222 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
}

.btn44 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    margin-left: 75%;
}

.cuarto {
	background-color: #003463;
}
.btn333 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
}


.btn55 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    margin-left: 65%;
}

.quinta {
	background-color: #003463;
}
.btn111 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    margin-left: 75%;
}


.btn555 {
	background-color: #003463;
	border: 5px;
	padding: 15px 32px;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 4px 2px;
	cursor: pointer;
    display: inline-block;
    font-family: Calibri;
}